*.pyc
.DS_Store
.ipynb_checkpoints
/data
/features
connect
start
/logs
/output
/img
.metaflow/
temp/
.mypy*
*.npy

/venv
.venv
*.egg-info
.python-version
.coverage
.idea
.local
.jupyter
.cache
.config
.ipython
.vscode
.pyarmor
.bash_history
.gitconfig
.pytest_cache
docker/modules

Tissue
